@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f7e0f26c;
    opacity: 1;
    background-image:  radial-gradient(#68E1FD 1px, transparent 1px), radial-gradient(#68E1FD 1px, #f7e0f2 1px);
    background-size: 40px 40px;
    background-position: 0 0,20px 20px;
}

.main{
    background: url(../static/images/Imagen3.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.main .encuestado_container {
    background: rgba(0, 0, 0, .6);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
}

.main .encuestado_container .form_title{
    color:#68E1FD;
    text-align: center;
    padding: 14px 0;
}

.main .encuestado_container .text_title{
    color:#FFF;
    text-align: center;
}

.main .encuestado_container .hipervinculo{
    font-size: medium;
    color: red;
}

.main .encuestado_container .form_input{
    background: rgba(0,0,0,.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #68E1FD;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color:#FFF;
}

.main .encuestado_container .form_label{
    color: #68E1FD;
    font-size: 16px;
    position: relative;
    line-height: 1.6;
}

.main .encuestado_container .btn_submit{
    width:100%;
    outline: none;
    background: #68E1FD;
    font-size: 16px;
    border: none;
    color:#fff;
    padding: 15px 0;
    cursor: pointer;
}

.main .encuestado_container .btn_submit:hover{
    opacity: 0.9;
    color: #fff;
    background-color: #53d6f3;
}

.footer{
    position: relative;
    --padding-container: 250px 0 50px;
    bottom: 0%;
}

.footer::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    background: #68E1FD;
    top: 0;
    left: 0;
    z-index:-1;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.footer__consolidado{
    display: grid;
    place-items: center;
    margin-bottom: 30px;
}

.footer__texts{
    text-align: center;
    justify-self: center;
    padding: 20px;
    font-weight: 300;
}

.footer__copy{
    margin: 20px 0;
    font-weight: 300;
}


/*Boton imagenes*/
.btn-abrir-popup {
	padding: 10px 10px;
	line-height: 10px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
    text-align: center;
}

.btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display:flex;
	visibility: hidden;
    z-index: 1;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	width: 600px;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}